.DS_Store
.*.swp
*~
.env
.env*.local

.bundle/
.cache/
.idea/
coverage/
log/
tmp/
**lauth-secret.yml


# Meson-related build files
.cache/
apache/client/subprojects/*
!apache/client/subprojects/*.wrap

apache/client/build/

# Debian Packages
apache/packages
!apache/packages/.keep
