.DS_Store
.*.swp
*~
.bundle/
.cache/
coverage/
log/
.idea/
**lauth-secret.yml
**/.env*


# Meson-related build files
.cache/
apache/client/subprojects/*
!apache/client/subprojects/*.wrap

apache/client/build/
